<h1>Task Manager</h1>
<form class="well" [formGroup]=rForm (ngSubmit)="addTask(rForm.value)" class="form-inline">
  <table class="table">
    <tbody>
      <tr>
        <td>
          <div class="form-group">
              <input type="text" formControlName="title" class="form-control" placeholder="title" />
          </div>
        </td>
        <td>
          <div class="form-group">
             <input type="text" formControlName="description" class="form-control" placeholder="description"/>
          </div>
        </td>
        <td>
          <div class="form-group">
            <div class="input-group date" id="dueDatePicker">
              <input type="text" formControlName="dueDate" class="form-control" placeholder="due date"/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" formControlName="priority" class="form-control" placeholder="priority">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" formControlName="status" class="form-control" placeholder="status">
          </div>
        </td>
        <td>
          <button type="submit" class="btn btn-success">Add Task</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>

<table class="table">
    <thead>
      <tr>
        <th>title</th>
        <th>description</th>
        <th width="150px">createdAt</th>
        <th width="150px">updatedAt</th>
        <th width="150px">dueDate</th>
        <th width="150px">resolvedAt</th>
        <th>priority</th>
        <th>status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.createdAt }}</td>
        <td>{{ task.updatedAt }}</td>
        <td>{{ task.dueDate }}</td>
        <td>{{ task.resolvedAt }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.status }}</td>
        <td><button class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button></td>
      </tr>      
    </tbody>
  </table>